In [1]:
# Standard Imports 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
# Import dataset 
df = pd.read_csv("./data/raw/resale-flat-prices-based-on-approval-date-1990-1999.csv")
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200

In [3]:
# Check for missing data 
df.isna().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
resale_price           0
dtype: int64

In [4]:
# Check datatypes
df.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price             int64
dtype: object

# Data Cleaning
- Month (Separate month and year) 
- Drop street_name column
- Convert lease_commence_date to leased_duration

In [5]:
# Check for unique values
for column in df:
    print(pd.unique(df[column]))

['1990-01' '1990-02' '1990-03' '1990-04' '1990-05' '1990-06' '1990-07'
 '1990-08' '1990-09' '1990-10' '1990-11' '1990-12' '1991-01' '1991-02'
 '1991-03' '1991-04' '1991-05' '1991-06' '1991-07' '1991-08' '1991-09'
 '1991-10' '1991-11' '1991-12' '1992-01' '1992-02' '1992-03' '1992-04'
 '1992-05' '1992-06' '1992-07' '1992-08' '1992-09' '1992-10' '1992-11'
 '1992-12' '1993-01' '1993-02' '1993-03' '1993-04' '1993-05' '1993-06'
 '1993-07' '1993-08' '1993-09' '1993-10' '1993-11' '1993-12' '1994-01'
 '1994-02' '1994-03' '1994-04' '1994-05' '1994-06' '1994-07' '1994-08'
 '1994-09' '1994-10' '1994-11' '1994-12' '1995-01' '1995-02' '1995-03'
 '1995-04' '1995-05' '1995-06' '1995-07' '1995-08' '1995-09' '1995-10'
 '1995-11' '1995-12' '1996-01' '1996-02' '1996-03' '1996-04' '1996-05'
 '1996-06' '1996-07' '1996-08' '1996-09' '1996-10' '1996-11' '1996-12'
 '1997-01' '1997-02' '1997-03' '1997-04' '1997-05' '1997-06' '1997-07'
 '1997-08' '1997-09' '1997-10' '1997-11' '1997-12' '1998-01' '1998-02'
 '1998-03' '1998-04' '1998-05' '1998-06' '1998-07' '1998-08' '1998-09'
 '1998-10' '1998-11' '1998-12' '1999-01' '1999-02' '1999-03' '1999-04'
 '1999-05' '1999-06' '1999-07' '1999-08' '1999-09' '1999-10' '1999-11'
 '1999-12']
['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT TIMAH'
 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG' 'HOUGANG'
 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE'
 'QUEENSTOWN' 'SENGKANG' 'SERANGOON' 'TAMPINES' 'TOA PAYOH' 'WOODLANDS'
 'YISHUN' 'LIM CHU KANG' 'SEMBAWANG' 'BUKIT PANJANG' 'PASIR RIS']
['1 ROOM' '3 ROOM' '4 ROOM' '5 ROOM' '2 ROOM' 'EXECUTIVE'
 'MULTI GENERATION']
['309' '216' '211' ... '582' '574' '104A']
['ANG MO KIO AVE 1' 'ANG MO KIO AVE 3' 'ANG MO KIO AVE 4'
 'ANG MO KIO AVE 10' 'ANG MO KIO AVE 5' 'ANG MO KIO AVE 8'
 'ANG MO KIO AVE 6' 'ANG MO KIO AVE 9' 'ANG MO KIO AVE 2'
 'BEDOK RESERVOIR RD' 'BEDOK NTH ST 3' 'BEDOK STH RD' 'NEW UPP CHANGI RD'
 'BEDOK NTH RD' 'BEDOK STH AVE 1' 'CHAI CHEE RD' 'CHAI CHEE DR'
 'BEDOK NTH AVE 4' 'BEDOK STH AVE 3' 'BEDOK STH AVE 2' 'BEDOK NTH ST 2'
 'BEDOK NTH ST 4' 'BEDOK NTH AVE 2' 'BEDOK NTH AVE 3' 'BEDOK NTH AVE 1'
 'BEDOK NTH ST 1' 'CHAI CHEE ST' 'SIN MING RD' 'SHUNFU RD'
 'BT BATOK ST 11' 'BT BATOK WEST AVE 8' 'BT BATOK WEST AVE 6'
 'BT BATOK ST 21' 'BT BATOK EAST AVE 5' 'BT BATOK EAST AVE 4'
 'HILLVIEW AVE' 'BT BATOK CTRL' 'BT BATOK ST 31' 'BT BATOK EAST AVE 3'
 'TAMAN HO SWEE' 'TELOK BLANGAH CRES' 'BEO CRES' 'TELOK BLANGAH DR'
 'DEPOT RD' 'TELOK BLANGAH RISE' 'JLN BT MERAH' 'HENDERSON RD' 'INDUS RD'
 'BT MERAH VIEW' 'HENDERSON CRES' 'BT PURMEI RD' 'TELOK BLANGAH HTS'
 'EVERTON PK' 'KG BAHRU HILL' 'REDHILL CL' 'HOY FATT RD' 'HAVELOCK RD'
 'JLN KLINIK' 'JLN RUMAH TINGGI' 'JLN BT HO SWEE' 'KIM CHENG ST'
 'MOH GUAN TER' 'TELOK BLANGAH WAY' 'KIM TIAN RD' 'KIM TIAN PL'
 'EMPRESS RD' "QUEEN'S RD" 'FARRER RD' 'JLN KUKOH' 'OUTRAM PK' 'SHORT ST'
 'SELEGIE RD' 'UPP CROSS ST' 'WATERLOO ST' 'QUEEN ST' 'BUFFALO RD'
 'ROWELL RD' 'ROCHOR RD' 'BAIN ST' 'SMITH ST' 'VEERASAMY RD'
 'TECK WHYE AVE' 'TECK WHYE LANE' 'CLEMENTI AVE 3' 'WEST COAST DR'
 'CLEMENTI AVE 2' 'CLEMENTI AVE 5' 'CLEMENTI AVE 4' 'CLEMENTI AVE 1'
 'WEST COAST RD' 'CLEMENTI WEST ST 1' 'CLEMENTI WEST ST 2'
 'CLEMENTI ST 13' "C'WEALTH AVE WEST" 'CLEMENTI AVE 6' 'CLEMENTI ST 14'
 'CIRCUIT RD' 'MACPHERSON LANE' 'JLN PASAR BARU' 'GEYLANG SERAI'
 'EUNOS CRES' 'SIMS DR' 'ALJUNIED CRES' 'GEYLANG EAST AVE 1' 'DAKOTA CRES'
 'PINE CL' 'HAIG RD' 'BALAM RD' 'JLN DUA' 'GEYLANG EAST CTRL' 'EUNOS RD 5'
 'HOUGANG AVE 3' 'HOUGANG AVE 5' 'HOUGANG AVE 1' 'HOUGANG ST 22'
 'HOUGANG AVE 10' 'LOR AH SOO' 'HOUGANG ST 11' 'HOUGANG AVE 7'
 'HOUGANG ST 21' 'TEBAN GDNS RD' 'JURONG EAST AVE 1' 'JURONG EAST ST 32'
 'JURONG EAST ST 13' 'JURONG EAST ST 21' 'JURONG EAST ST 24'
 'JURONG EAST ST 31' 'PANDAN GDNS' 'YUNG KUANG RD' 'HO CHING RD'
 'HU CHING RD' 'BOON LAY DR' 'BOON LAY AVE' 'BOON LAY PL'
 'JURONG WEST ST 52' 'JURONG WEST ST 41' 'JURONG WEST AVE 1'
 'JURONG WEST ST 42' 'JLN BATU' "ST. GEORGE'S RD" 'NTH BRIDGE RD'
 'FRENCH RD' 'BEACH RD' 'WHAMPOA DR' 'UPP BOON KENG RD' 'BENDEMEER RD'
 'WHAMPOA WEST' 'LOR LIMAU' 'KALLANG BAHRU' 'GEYLANG BAHRU' 'DORSET RD'
 'OWEN RD' 'KG ARANG RD' 'JLN BAHAGIA' 'MOULMEIN RD' 'TOWNER RD'
 'JLN RAJAH' 'KENT RD' 'AH HOOD RD' "KING GEORGE'S AVE" 'CRAWFORD LANE'
 'MARINE CRES' 'MARINE DR' 'MARINE TER' "C'WEALTH CL" "C'WEALTH DR"
 'TANGLIN HALT RD' "C'WEALTH CRES" 'DOVER RD' 'MARGARET DR' 'GHIM MOH RD'
 'DOVER CRES' 'STIRLING RD' 'MEI LING ST' 'HOLLAND CL' 'HOLLAND AVE'
 'HOLLAND DR' 'DOVER CL EAST' 'SELETAR WEST FARMWAY 6' 'LOR LEW LIAN'
 'SERANGOON NTH AVE 1' 'SERANGOON AVE 2' 'SERANGOON AVE 4'
 'SERANGOON CTRL' 'TAMPINES ST 11' 'TAMPINES ST 21' 'TAMPINES ST 91'
 'TAMPINES ST 81' 'TAMPINES AVE 4' 'TAMPINES ST 22' 'TAMPINES ST 12'
 'TAMPINES ST 23' 'TAMPINES ST 24' 'TAMPINES ST 41' 'TAMPINES ST 82'
 'TAMPINES ST 83' 'TAMPINES AVE 5' 'LOR 2 TOA PAYOH' 'LOR 8 TOA PAYOH'
 'LOR 1 TOA PAYOH' 'LOR 5 TOA PAYOH' 'LOR 3 TOA PAYOH' 'LOR 7 TOA PAYOH'
 'TOA PAYOH EAST' 'LOR 4 TOA PAYOH' 'TOA PAYOH CTRL' 'TOA PAYOH NTH'
 'POTONG PASIR AVE 3' 'POTONG PASIR AVE 1' 'UPP ALJUNIED LANE'
 'JOO SENG RD' 'MARSILING LANE' 'MARSILING DR' 'MARSILING RISE'
 'MARSILING CRES' 'WOODLANDS CTR RD' 'WOODLANDS ST 13' 'WOODLANDS ST 11'
 'YISHUN RING RD' 'YISHUN AVE 5' 'YISHUN ST 72' 'YISHUN ST 11'
 'YISHUN ST 21' 'YISHUN ST 22' 'YISHUN AVE 3' 'CHAI CHEE AVE' 'ZION RD'
 'LENGKOK BAHRU' 'SPOTTISWOODE PK RD' 'NEW MKT RD' 'TG PAGAR PLAZA'
 'KELANTAN RD' 'PAYA LEBAR WAY' 'UBI AVE 1' 'SIMS AVE' 'YUNG PING RD'
 'TAO CHING RD' 'GLOUCESTER RD' 'BOON KENG RD' 'WHAMPOA STH'
 'CAMBRIDGE RD' 'TAMPINES ST 42' 'LOR 6 TOA PAYOH' 'KIM KEAT AVE'
 'YISHUN AVE 6' 'YISHUN AVE 9' 'YISHUN ST 71' 'BT BATOK ST 32' 'SILAT AVE'
 'TIONG BAHRU RD' 'SAGO LANE' "ST. GEORGE'S LANE" 'LIM CHU KANG RD'
 "C'WEALTH AVE" "QUEEN'S CL" 'SERANGOON AVE 3' 'POTONG PASIR AVE 2'
 'WOODLANDS AVE 1' 'YISHUN AVE 4' 'LOWER DELTA RD' 'NILE RD'
 'JLN MEMBINA BARAT' 'JLN BERSEH' 'CHANDER RD' 'CASSIA CRES'
 'OLD AIRPORT RD' 'ALJUNIED RD' 'BUANGKOK STH FARMWAY 1' 'BT BATOK ST 33'
 'ALEXANDRA RD' 'CHIN SWEE RD' 'SIMS PL' 'HOUGANG AVE 2' 'HOUGANG AVE 8'
 'SEMBAWANG RD' 'SIMEI ST 1' 'BT BATOK ST 34' 'BT MERAH CTRL'
 'LIM LIAK ST' 'JLN TENTERAM' 'WOODLANDS ST 32' 'SIN MING AVE'
 'BT BATOK ST 52' 'DELTA AVE' 'PIPIT RD' 'HOUGANG AVE 4' 'QUEENSWAY'
 'YISHUN ST 61' 'BISHAN ST 12' "JLN MA'MOR" 'TAMPINES ST 44'
 'TAMPINES ST 43' 'BISHAN ST 13' 'JLN DUSUN' 'YISHUN AVE 2' 'JOO CHIAT RD'
 'EAST COAST RD' 'REDHILL RD' 'KIM PONG RD' 'RACE COURSE RD'
 'KRETA AYER RD' 'HOUGANG ST 61' 'TESSENSOHN RD' 'MARSILING RD'
 'YISHUN ST 81' 'BT BATOK ST 51' 'BT BATOK WEST AVE 4'
 'BT BATOK WEST AVE 2' 'JURONG WEST ST 91' 'JURONG WEST ST 81' 'GANGSA RD'
 'MCNAIR RD' 'SIMEI ST 4' 'YISHUN AVE 7' 'SERANGOON NTH AVE 2'
 'YISHUN AVE 11' 'BANGKIT RD' 'JURONG WEST ST 73' 'OUTRAM HILL'
 'HOUGANG AVE 6' 'PASIR RIS ST 12' 'PENDING RD' 'PETIR RD' 'LOR 3 GEYLANG'
 'BISHAN ST 11' 'PASIR RIS DR 6' 'BISHAN ST 23' 'JURONG WEST ST 92'
 'PASIR RIS ST 11' 'YISHUN CTRL' 'BISHAN ST 22' 'SIMEI RD'
 'TAMPINES ST 84' 'BT PANJANG RING RD' 'JURONG WEST ST 93' 'FAJAR RD'
 'WOODLANDS ST 81' 'CHOA CHU KANG CTRL' 'PASIR RIS ST 51' 'HOUGANG ST 52'
 'CASHEW RD' 'TOH YI DR' 'HOUGANG CTRL' 'KG KAYU RD' 'TAMPINES AVE 8'
 'TAMPINES ST 45' 'SIMEI ST 2' 'WOODLANDS AVE 3' 'LENGKONG TIGA'
 'WOODLANDS ST 82' 'SERANGOON NTH AVE 4' 'SERANGOON CTRL DR'
 'BRIGHT HILL DR' 'SAUJANA RD' 'CHOA CHU KANG AVE 3' 'TAMPINES AVE 9'
 'JURONG WEST ST 51' 'YUNG HO RD' 'SERANGOON AVE 1' 'PASIR RIS ST 41'
 'GEYLANG EAST AVE 2' 'CHOA CHU KANG AVE 2' 'KIM KEAT LINK'
 'PASIR RIS DR 4' 'PASIR RIS ST 21' 'SENG POH RD' 'HOUGANG ST 51'
 'JURONG WEST ST 72' 'JURONG WEST ST 71' 'PASIR RIS ST 52'
 'TAMPINES ST 32' 'CHOA CHU KANG AVE 4' 'CHOA CHU KANG LOOP' 'JLN TENAGA'
 'TAMPINES CTRL 1' 'TAMPINES ST 33' 'BT BATOK WEST AVE 7'
 'JURONG WEST AVE 5' 'TAMPINES AVE 7' 'WOODLANDS ST 83'
 'CHOA CHU KANG ST 51' 'PASIR RIS DR 3' 'YISHUN CTRL 1'
 'CHOA CHU KANG AVE 1' 'WOODLANDS ST 31' 'BT MERAH LANE 1'
 'PASIR RIS ST 13' 'ELIAS RD' 'BISHAN ST 24' 'WHAMPOA RD'
 'WOODLANDS ST 41' 'PASIR RIS ST 71' 'JURONG WEST ST 74' 'PASIR RIS DR 1'
 'PASIR RIS ST 72' 'PASIR RIS DR 10' 'CHOA CHU KANG ST 52' 'CLARENCE LANE'
 'CHOA CHU KANG NTH 6' 'PASIR RIS ST 53' 'CHOA CHU KANG NTH 5'
 'ANG MO KIO ST 21' 'JLN DAMAI' 'CHOA CHU KANG ST 62' 'WOODLANDS AVE 5'
 'WOODLANDS DR 50' 'CHOA CHU KANG ST 53' 'TAMPINES ST 72'
 'UPP SERANGOON RD' 'JURONG WEST ST 75' 'STRATHMORE AVE'
 'ANG MO KIO ST 31' 'TAMPINES ST 34' 'YUNG AN RD' 'WOODLANDS AVE 4'
 'CHOA CHU KANG NTH 7' 'ANG MO KIO ST 11']
['10 TO 12' '04 TO 06' '07 TO 09' '01 TO 03' '13 TO 15' '19 TO 21'
 '16 TO 18' '25 TO 27' '22 TO 24']
[ 31.   73.   67.   82.   74.   88.   89.   83.   68.   75.   81.   91.
  92.   97.   90.   98.   99.  100.   93.  103.  119.  120.  118.  121.
 135.  117.   45.   65.   59.   70.   76.   84.  104.  105.  125.  132.
 139.  123.  143.  151.   69.  106.  107.  116.  149.  141.  146.  148.
 145.  154.  150.   29.   51.   61.   63.   64.   72.   58.   66.   60.
  53.   54.   56.   77.  133.  131.  115.   43.   38.   41.   85.  111.
 101.  112.  137.  127.  147.  163.   50.   40.   60.3  62.   55.   57.
  52.   63.1 102.   83.1 126.  140.  142.   71.  108.  144.   96.  114.
 157.  152.  155.   87.  109.  110.   94.  134.  122.  128.   78.   46.
  42.   49.   47.   86.  156.   79.   80.  124.   28.  113.   95.  160.
 136.   48.  138.  161.   39.  130.  159.  206.   68.2  64.9 129.  165.
 153.  166.  210.   59.2  73.1  48.1 174.   74.9 164.  158.   37.  198.
 173.  199.  261.  179.   69.7 246.  171.  181.   44.  169.  189.   67.2
 222.   64.8 250.   74.8 215.  237.   59.1 185.  297.  177.  243.   69.9
 162.  170.  190.  175.  187.  241.  186.   56.4 176.   75.9 184.  178.
  69.2 172.  168.  167.  152.4  64.7 195.  188.  225.  307.  182.  131.1
 192.  183.  280.  180.  221.  193.  207. ]
['IMPROVED' 'NEW GENERATION' 'MODEL A' 'STANDARD' 'SIMPLIFIED'
 'MODEL A-MAISONETTE' 'APARTMENT' 'MAISONETTE' 'TERRACE' '2-ROOM'
 'IMPROVED-MAISONETTE' 'MULTI GENERATION' 'PREMIUM APARTMENT']
[1977 1976 1978 1979 1984 1980 1985 1981 1982 1986 1972 1983 1973 1969
 1975 1971 1974 1967 1970 1968 1988 1987 1989 1990 1992 1993 1994 1991
 1995 1996 1997]
[  9000   6000   8000 ... 416080 133338 267600]

In [6]:
# Splitting month to year and month 
df[['year', 'month']] = df['month'].str.split('-', expand=True)

In [7]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year
0,01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000,1990
1,01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000,1990
2,01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000,1990
3,01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000,1990
4,01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200,1990

In [10]:
# Drop Street_name
df.drop(['street_name'], axis=1, inplace=True)
df.head()

KeyError: "['street_name'] not found in axis"

# EDA

In [12]:
# Year Distribution 
sns.histplot(df['year'])

AttributeError: module 'seaborn' has no attribute 'histplot'